resources:
  - name: greentic-acme-component-runner
    type: run.v1.service
    properties:
      template:
        spec:
          containers:
          - name: greentic-acme-component
            image: gcr.io/greentic/runner:latest
            env:
            - name: NATS_URL
              value: 'https://nats.staging.acme.svc'
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: 'https://otel.greentic.ai'
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: 'deployment.environment=staging,greentic.tenant=acme,service.name=greentic-deployer-gcp'
            resources:
              limits:
                cpu: 500m
                memory: 1024Mi
        scaling:
          minInstanceCount: 2
          maxInstanceCount: 3
          ingress: INGRESS_TRAFFIC_INTERNAL_ONLY
